export REACT_APP_OPENAI_API_KEY='your key here'
export REACT_APP_GOOGLE_CLIENT_ID=
export REACT_APP_API_ENDPOINT='http://localhost:3000'
export REACT_APP_CLIENT_ID=
export REACT_APP_CLIENT_SECRET=
export REACT_APP_ENCRYPTION_KEY=
export REACT_APP_APPLE_REDIRECT_URI=
export DIGITALOCEAN_TOKEN=
export REACT_APP_GTM_MEASUREMENT_ID=
