{
  "folders": [
    {
      "path": "."
    }
  ],
  "settings": {
    "terminal.integrated.fontSize": 14,
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.codeActionsOnSave": {
      "source.fixAll.prettier": "explicit"
    },
    "[typescript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[typescriptreact]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascriptreact]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    // "ruby.rubocop.configFilePath": "./.robocop.yml",
    "ruby.rubocop.useBundler": true,
  }
}